/* header section */
.header{
    width: 90%;
    height: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    margin-left: 70px; 
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.sign-in a{
    text-decoration: none;
    color: green;
    border: solid green;
    padding: 15px 30px;
    border-radius: 4px;
}
/* first cintainer */
.first-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 60px;
    background-color: #c6e4d6;
    margin: 30px 60px;
    margin-top: 10px;
    border-radius: 5px;   
 }

 .first-container h5{
    color: rgba(14, 14, 14, 0.5);
 }
 .first-container h2{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 .first-container button{
    padding: 15px 40px;
    color: azure;
    background-color: green;
    border: none;
    border-radius: 5px;
 }
 /* 2nd section */
 .sec-sention{
    display: flex;
    gap: 24px;
    padding: 70px;
}
.sec-containt{
    background-color: rgb(255, 253, 253);
    padding: 24px;
    box-shadow: 0px 6px 30px 0px rgb(113, 113, 113);
    border-radius: 10px;
}


/* third section title */
.Third-section-title{
    width: 1270px;
    height: 120px;
    padding: 10px 85px;
}
.Third-section-title h2{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 35px;
font-weight: 700;
line-height: 48px;
}
.Third-section-title p{
    color: rgba(14, 14, 14, 0.7);
    font-family: 'Lucida Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    
    
    
}
/* third-section */
.third-section{
    width: 1200px;
    height: 350px;
    margin: 0px auto;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
}
.card-section-1{
    background-color: #d5e1f5;
    border-radius: 8px;
}
.card-1{
    padding: 40px;
    border-radius: 5px;}


.card-section-1 h3{
    font-size: 25px;
}
.card-section-1 p{
    font-size: small;
    color: rgba(14, 14, 14, 0.7);
}
.card-section-1 button{
    padding: 10px 20px;
    background-color: #5490f5;
    color: aliceblue;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}
/* card-section-2 */
.card-section-2{
    background-color: aqua;
    border-radius: 8px;
}
.card-2{
    padding: 40px;  
}

.card-section-2 h3{
    font-size: 25px;
}
.card-section-2 p{
    font-size: small;
    color: rgba(14, 14, 14, 0.7);
}
.card-section-2 button{
    padding: 10px 20px;
    background-color: #09a15c;
    color: aliceblue;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}
/* .card-section-3 */
.card-section-3{
    background-color: antiquewhite;
    border-radius: 8px;
}
.card-3{
    padding: 40px;   
}
.card-section-3 h3{
    font-size: 25px;
}
.card-section-3 p{
    font-size: small;
    color: rgba(14, 14, 14, 0.7);
}
.card-section-3 button{
    padding: 10px 20px;
    background-color: #ffc239;
    color: aliceblue;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

/* younus section */

.youns-Section{
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    border: solid 1px grey;
    padding: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(85, 82, 82);
    width: 1200px;
    margin: 70px;
    
}
.youns-Section p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.8);
    line-height: 20px;
}
.youns-Section h2{
    font-size: 20px;
    margin-bottom: -10px;  
}

/* table section */
.table-section{
    background-color: #fcf4f4;
    border-radius: 15px;
    padding: 10px;
    margin: 80px;
}
table{
    border-collapse: collapse;
    padding: 230px 340px;
    margin: 40px;
    width: 95%;
    background-color: rgb(254, 254, 254);
}
th{
    border: 2px solid;
    padding: 20px 10px 20px 10px;
    text-align: left;
    border-style: double;
    background-color: #c6e4d6;
    box-sizing: border-box;
    border: 0px solid;
    
    
}
td{
    border: 0.5px solid grey;
    border-style: double;
    padding: 20px 10px 20px 10px;
}
.select{
    border: 1px solid rgb(205, 203, 203);
    padding: 10px 10px;
    background-color: #c6e4d6;
    border-radius: 5px;
}
.mth{
   text-align: justify;
}
div h1{
    font-size: 30px;
    margin: 45px;
}
/* news section */
.news-Section{
    width: 90%;
    padding: 10px;
    margin: 90px;
    margin-top: 80px;
    color: #000000;
    background-color: #ffffff;
   justify-content: center;
}
.news-container h2{
    font-size: 30px;
}
/* box-container */

.box1{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    box-shadow: 4px 4px 8px grey;
    text-align: justify;
    background-color: rgb(228, 228, 228);
    padding: 30px;
    border-radius: 10px;
}
.box-img{
    border-radius: 20px;
    margin-left: 30px;

}
.box-button{
    padding: 13px 26px 13px 26px;
    background-color: #016b53;
    color: aliceblue;
    border: none;
    border-radius: 10px;
}

.box2{
    display: flex;
    justify-content: right;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    align-items: right;
    box-shadow: 4px 4px 8px grey;
    text-align: justify;
    background-color: rgb(228, 228, 228);
    padding: 20px;
    border-radius: 10px
    
}
.box-img-2{
    margin: 20px;
    border-radius: 10px;
}

.box3{
    display: flex;
    justify-content: right;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    align-items: right;
    box-shadow: 4px 4px 8px grey;
    text-align: justify;
    background-color: rgb(228, 228, 228);
    padding: 20px;
    border-radius: 10px
}
/* box container */
.donate-container{
    background-color: #f5f5f5;
    text-align: center;
    padding: 30px;
    margin: 120px;
}
.dont-btn1{
    padding: 30px 80px;
    border-radius: 10px;
}
.donation-section{
    display: flex;
    justify-content: center;
    gap: 22px;
    align-items: center;
}
.dont-btne1{
    padding: 20px 40px;
    border-radius: 10px;
    /* background-color: rgb(89, 205, 22); */
    font-size: 30px;
    font-weight: bold;
}
.dont-btne2{
    padding: 20px 40px;
    border-radius: 10px;
    background-color: #c6e4d6;
    font-size: 30px;
    font-weight: bold;
}
.dont-btne3{
    padding: 20px 40px;
    border-radius: 10px;
    /* background-color: rgb(89, 205, 22); */
    font-size: 30px;
    font-weight: bold;
}
.dont-btne4{
    padding: 20px 40px;
    border-radius: 10px;
    /* background-color: rgb(89, 205, 22); */
    font-size: 30px;
    font-weight: bold;
}
.custom-amount{
    padding: 20px 350px 20px 350px;
}
.donat-btn{
    padding: 20px 30px;
    margin: 12px;
    color: aliceblue;
    background-color: #016b53;
    border: none;
    border-radius: 10px;
}
/* newsletter section */
.newslater{
    padding: 60px;
    margin: 60px 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 1px solid grey; */
    background-color: #c6e4d6;
    border-radius: 10px;
    margin-right: 50px;
}
.newslater h2{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.newslater p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    text-align: center;
    color: rgb(84, 83, 83);
    font-family: Arial, Helvetica, sans-serif
}
#name{
    padding: 10px 330px 10px 30px;
    text-align: start;
}
#button{
    padding: 10px 20px;
    color: rgb(245, 247, 247);
    background-color: #006a50;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    border-radius: 5px;
}
/* Footer section */
.footer{
    text-align: center;
    
}
.Bangladesh2{
    text-align: center;
    font-size: 30px;
    
}
.footer-section{
    background-color: #f5f5f5;
    width: 100%;
    padding: 10px 20px 85px 0px;
}
.icon-img{
    margin: 0px 10px 0px 0px;
}